In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')

In [5]:
table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

In [6]:
#clean the df
df0 = pd.DataFrame(row)
df1 = df0[0].str.split('\n', expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df3 = df2.drop(df2.index[0])
df3.head()

    Postal code             Borough                  Neighborhood
1           M1A        Not assigned
2           M2A        Not assigned
3           M3A          North York                     Parkwoods
4           M4A          North York              Victoria Village
5           M5A    Downtown Toronto    Regent Park / Harbourfront

In [7]:
df4 = df3[df3.Borough != 'Not assigned']
df4.head()

,,Postal code,,Borough,,Neighborhood,
3,,M3A,,North York,,Parkwoods,
4,,M4A,,North York,,Victoria Village,
5,,M5A,,Downtown Toronto,,Regent Park / Harbourfront,
6,,M6A,,North York,,Lawrence Manor / Lawrence Heights,
7,,M7A,,Downtown Toronto,,Queen's Park / Ontario Provincial Government,

In [15]:
df = df4.groupby(['Postal code', 'Borough'], sort = False).agg(','.join)
df.reset_index(inplace = True)
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [16]:
df.shape

(103, 3)